@page
@model QLCH_LTHDT_WEB.Pages.MH_Them_SanphamModel
@{
}
<form method="post">

    <label for="lname">Nhập tên sản phẩm:</label><br>
    <input type="text" id="lname" name="tensp"><br>

    <label for="lname">Nhập hạn sử dụng:</label><br>
    <input type="text" id="lname" name="hsd"><br>

    <label for="lname">Nhập công ty sản xuất:</label><br>
    <input type="text" id="lname" name="ctsx"><br>

    <label for="lname">Nhập ngày sản xuất:</label><br>
    <input type="text" id="lname" name="nsx"><br>

    <label for="lname">Nhập loại hàng:</label><br>
    <input type="text" id="lname" name="lh"><br>

    <label for="lname">Nhập giá:</label><br>
    <input type="text" id="lname" name="gia"><br>

    <input type="submit" value="Thêm">

</form>

@Model.Chuoi